* {
     box-sizing: border-box;
     margin: 0px;
     padding: 0px;
}

i {
     font-size: 25px;
     color: white;
}


.calculator-container {
     /* border: 3px solid black; */
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 50px 0px;
     gap: 25px;
}

.calculator-text {
     /* border: 3px solid pink; */
}

.calculator {
     /* border: 3px solid gray; */
     width: 500px;
}

.output-container {
     /* border: 3px solid red;
     display: flex;
     justify-content: flex-end;
     background-color: hsl(0, 0%, 37%);
     border-top-left-radius: 15px;
     border-top-right-radius: 15px; */
}

.output-text {
     /* border: 3px solid green; */
     text-align: end;
     padding: 5px 50px 5px 5px;
     width: 500px;
     caret-color: transparent;
     border: none;
     font-size: 50px;
     color: white;
     margin-right: 25px;
     display: flex;
     justify-content: flex-end;
     background-color: hsl(0, 0%, 37%);
     border-top-left-radius: 15px;
     border-top-right-radius: 15px;
     outline-color: transparent;
     outline-style: none;
}

.buttons-container {
     /* border: 3px solid blue; */
     border-bottom-left-radius: 15px;
     border-bottom-right-radius: 15px;
     background-color: black;
}

.buttons {
     /* border: 3px solid yellow; */
     /* setting the font-size to zero for the parent container will remove any white space inside the parent container */
     font-size: 0px;
}

.top {
     background-color: hsl(0,0%,65%);
}

.number {
     background-color:hsl(0,0%,20%);
}

.operator,
.equals {
     background-color: hsl(33,88%,57%);
}
